<%= render 'header' %>
<br></br>
<%= render 'alert' %>
<%# debug @task %>

<% @task.each_with_index do |t,index| %>
  <div class = "row" style = "background-color:<%= t.color%>">
    <% @update_status = t.status %>
      <div class = "col-sm-1">
            <center><%= index + 1 %></center>
      </div>
      <div class = "col-sm-2">
            <%= t.title.truncate(25) %>
      </div>
      <div class = "col-sm-5">
            <%= t.description %>
      </div>
      <div class = "col-sm-1">
            <%= t.status %>
      </div>
      <div class= "col-sm-1">
      <% if @update_status == "In Progress" %>

      <%= button_to "Awaiting Reply",
      {
        :controller => "tasks",
        :action => "update_status",
        :id => t.id,

      }, method: :patch%>

      <% elsif @update_status == "Awaiting Reply" %>

      <%= button_to "Pending",
      {
        :controller => "tasks",
        :action => "update_status",
        :id => t.id,

      }, method: :patch%>
      <% end %>
      </div>

      <div class= "col-sm-1">
      <%= button_to "Completed",
      {
        :controller => "tasks",
        :action => "complete_task",
        :id => t.id,

      }, method: :patch%>

      </div>
      <div class = "col-sm-1">
            <center>
            <%= link_to edit_task_path(t) do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to t, method: :delete, data: {confirm:"Delete Task?"} do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
            </center>
      </div>
  </div>
<% end %>

<%= button_to "Show all completed",
{
  :controller => "tasks",
  :action => "completed",

}, method: :get %>
<br></br>
<%= button_to "Show all active",
{
  :controller => "tasks",
  :action => "active",

}, method: :get %>
