<%= render 'header' %>
<br></br>
<%# debug @task %>
<div id = "in-progress">
<%= render "table", task_parameter: @task_inprogress %>
</div>
<div id = "awaiting-reply">
<%= render "table", task_parameter: @task_awaitingreply %>
</div>
<div id = "pending">
<%= render "table", task_parameter: @task_pending %>
</div>
<div id = "completed">
<%= render "table", task_parameter: @task_completed %>
</div>
<%= button_to "Show all completed",
{
  :controller => "tasks",
  :action => "completed",

}, method: :get %>
<%= button_to "Show all active",
{
  :controller => "tasks",
  :action => "active",

}, method: :get %>
